templates:
  First - Custom:
    optional:
      - sort_title
      - summary
    sort_title: '!_First <<collection_name>>'
    summary: <<summary>>
  'First [Sort Title] - Custom':
    optional:
      - list
      - name_mapping
      - sort_title
      - summary
    trakt_list: 'https://trakt.tv/users/goape/lists/<<list>>'
    name_mapping: <<name_mapping>>
    sort_title: '!_First <<sort_title>>'
    summary: <<summary>>
collections:
  Aaron's Faves:
    build_collection: false
    trakt_list: 'https://trakt.tv/users/goape/lists/movies-aaron'
    item_label: Aaron
    sync_mode: append
    non_item_remove_label: Aaron
  Horror:
    build_collection: false
    trakt_list: 'https://trakt.tv/users/goape/lists/movies-horror'
    item_label: Horror
    sync_mode: append
    non_item_remove_label: Horror
