templates:
  First - Custom:
    optional:
      - sort_title
      - summary
    sort_title: '!_First <<collection_name>>'
    summary: <<summary>>
  'First [Sort Title] - Custom':
    optional:
      - list
      - name_mapping
      - sort_title
      - summary
    trakt_list: 'https://trakt.tv/users/goape/lists/<<list>>'
    name_mapping: <<name_mapping>>
    sort_title: '!_First <<sort_title>>'
    summary: <<summary>>
collections:
  'First Impressions: Pilot Episodes Only':
    template:
      name: 'First [Sort Title] - Custom'
      sort_title: '!6First Impressions: Pilot Episodes Only'
      summary: >-
        Start your journey with these pilot episodes, setting the stage for
        stories you can dive into if they spark your interest.
    tmdb_list: 8576763
    name_mapping: First Impressions- Pilot Episodes Only
    smart_label: release.desc
    item_label: Pilot Episode
  Aaron's Faves:
    build_collection: false
    tmdb_list: 8576783
    item_label: Aaron
    sync_mode: append
    non_item_remove_label: Aaron
  First Season:
    build_collection: false
    trakt_list: 'https://trakt.tv/users/goape/lists/tv-first-season'
    item_label: First Season
    sync_mode: append
    non_item_remove_label: First Season
  Hide:
    build_collection: false
    trakt_list: 'https://trakt.tv/users/goape/lists/hide'
    item_label: Hide
    sync_mode: append
    non_item_remove_label: Hide
