templates:
  First - Custom:
    optional:
      - sort_title
      - summary
    sort_title: '!_First <<collection_name>>'
    summary: <<summary>>
  'First [Sort Title] - Custom':
    optional:
      - list
      - name_mapping
      - sort_title
      - summary
    trakt_list: 'https://trakt.tv/users/goape/lists/<<list>>'
    name_mapping: <<name_mapping>>
    sort_title: '!_First <<sort_title>>'
    summary: <<summary>>
collections:
  All-Time Faves:
    template:
      name: 'First [Sort Title] - Custom'
      sort_title: '!5All-Time Faves'
      name_mapping: 'All-Time Faves [TV]'
      summary: >-
        The champions of rewatchability. These tried-and-true favorites prove
        their worth with every viewing, offering the rare combination of comfort
        and quality that keeps you coming back.
    collection_filtering: user
    smart_filter:
      sort_by: title.asc
      any:
        all:
          user_rating.gte: 9.5
        any:
          label: Aaron
  'First Impressions: Pilot Episodes Only':
    template:
      name: 'First [Sort Title] - Custom'
      sort_title: '!6First Impressions: Pilot Episodes Only'
      list: tv-pilot-episode
      summary: >-
        Start your journey with these pilot episodes, setting the stage for
        stories you can dive into if they spark your interest.
    smart_label: release.desc
    item_label: Pilot Episode
  Just Released:
    template:
      name: 'First [Sort Title] - Custom'
      sort_title: '!3Just Released'
      summary: >-
        They're here! A full year of television's newest offerings, now
        available at your fingertips. Your chance to experience the series
        everyone's been discussing has arrived.
    smart_filter:
      all:
        release: 365
      sort_by: release.desc
  New Arrivals:
    template:
      name: 'First [Sort Title] - Custom'
      sort_title: '!1New Arrivals'
      summary: >-
        Fresh shows have landed! From action-packed dramas to laugh-out-loud
        comedies, your next binge-watch awaits.
    smart_filter:
      all:
        added: 30
      limit: 100
      sort_by: added.desc
  7-Day Rewind:
    template:
      name: 'First [Sort Title] - Custom'
      sort_title: '!2Seven-Day Rewind'
      summary: >-
        Television's freshest offerings from the past week — unmissable gems and
        notorious flops alike. Your guide to what everyone's been watching,
        discussing, or dramatically abandoning.
    builder_level: episode
    smart_filter:
      all:
        episode_air_date: 7
        episode_unplayed: true
      sort_by: episode_release.desc
  To Be Continued:
    template:
      name: 'First [Sort Title] - Custom'
      sort_title: '!5To Be Continued'
      summary: >-
        Serialized Slumber: TV episodes that proved too powerful for your
        eyelids. The characters continue their journey long after you've begun
        yours into dreamland.
    collection_filtering: user
    builder_level: episode
    smart_filter:
      sort_by: title.asc
      all:
        episode_progress: true
        plays.lt: 1
  Viral Views:
    template:
      name: 'First [Sort Title] - Custom'
      sort_title: '!4Viral Views'
      summary: >-
        Shows experiencing explosive viewership right now—for better or worse.
        Whether trending for brilliance, disasters, or must-see moments, these
        episodes have everyone talking.
    tmdb_trending_daily: 30
    smart_label: release.desc
    sync_mode: sync
    item_label: Viral Views
  Watchlist:
    template:
      name: 'First [Sort Title] - Custom'
      sort_title: '!6Watchlist'
      summary: >-
        The "One Day" Queue: An impressive lineup of must-watch shows that keep
        getting bumped by 'just one more episode' of your comfort series.
    plex_watchlist: added.desc
    sync_mode: sync
    smart_label: added.desc
    collection_filtering: user
    label: Aaron
  Aaron's Faves:
    build_collection: false
    tmdb_list: 8576783
    item_label: Aaron
    sync_mode: append
    non_item_remove_label: Aaron
  First Season:
    build_collection: false
    trakt_list: 'https://trakt.tv/users/goape/lists/tv-first-season'
    item_label: First Season
    sync_mode: append
    non_item_remove_label: First Season
  Hide:
    build_collection: false
    trakt_list: 'https://trakt.tv/users/goape/lists/hide'
    item_label: Hide
    sync_mode: append
    non_item_remove_label: Hide
