templates:
  Genre:
    optional:
      - label
      - summary
    smart_filter:
      all:
        genre: <<genre>>
      sort_by: random
    label: <<label>>
    sort_title: '!3_Genre <<collection_name>>'
    summary: <<summary>>
  'Genre [Bottom]':
    optional:
      - label
      - summary
    smart_filter:
      all:
        genre: <<genre>>
      sort_by: random
    label: <<label>>
    sort_title: '!3_Genre <<collection_name>>'
    summary: <<summary>>
  'Genre [Bottom] - Custom':
    optional:
      - label
      - summary
    label: <<label>>
    sort_title: '!3_Genre <<collection_name>>'
    summary: <<summary>>
  Genre - Trakt List:
    optional:
      - label
      - summary
    trakt_list: 'https://trakt.tv/users/goape/lists/<<list>>'
    sync_mode: sync
    label: <<label>>
    smart_label: random
    sort_title: '!3_Genre <<collection_name>>'
    summary: <<summary>>
  Genre - Trakt List Other:
    optional:
      - label
      - summary
    trakt_list: <<list>>
    sync_mode: sync
    label: <<label>>
    smart_label: random
    sort_title: '!3_Genre <<collection_name>>'
    summary: <<summary>>
  'Genre [Bottom] - Trakt List':
    optional:
      - label
      - summary
    trakt_list: 'https://trakt.tv/users/goape/lists/<<list>>'
    sync_mode: sync
    label: <<label>>
    smart_label: random
    sort_title: '!3_Genre <<collection_name>>'
    summary: <<summary>>
  'Genre [Holiday] - Trakt List':
    optional:
      - label
      - summary
    trakt_list: 'https://trakt.tv/users/goape/lists/<<list>>'
    sync_mode: sync
    label: <<label>>
    smart_label: title.asc
    sort_title: '!3_Genre_Holiday <<collection_name>>'
    summary: <<summary>>
  'Genre [Holiday] - Trakt List [Hide Items]':
    optional:
      - label
      - summary
    trakt_list: 'https://trakt.tv/users/goape/lists/<<list>>'
    sync_mode: sync
    collection_mode: hide_items
    label: <<label>>
    item_genre: <<collection_name>>
    sort_title: '!3_Genre_Holiday <<collection_name>>'
    summary: <<summary>>
  'Genre [Holiday] - Trakt List Episodes':
    optional:
      - label
      - summary
    trakt_list: 'https://trakt.tv/users/goape/lists/<<list>>'
    sync_mode: sync
    builder_level: episode
    collection_order: custom
    label: <<label>>
    sort_title: '!3_Genre_Holiday <<collection_name>>'
    summary: <<summary>>
collections:
  Naughty & Nice:
    template:
      name: 'Genre [Holiday] - Trakt List'
      list: tv-christmas
      summary: >-
        Holiday troublemakers and yuletide do-gooders collide in this festive
        collection. These stories showcase the glorious chaos that unfolds when
        both sides of Santa's list come together.
  Out Loud:
    template:
      name: Genre - Trakt List
      list:
        - out-loud
        - out-loud-pilot-episode
        - out-loud-first-season
        - out-loud-new-episodes
      summary: >-
        Shows featuring fierce individuals who refuse to fit into society's
        boring little boxes. These series celebrate the beautiful chaos of being
        authentically, unapologetically human.
  Truth Be Told:
    template:
      name: Genre
      genre: Documentary
      summary: >-
        Truth captured by filmmakers with equal parts passion and raised
        eyebrows. These documentaries showcase humanity in all its messy glory -
        from world-changing events to delightfully trivial obsessions. Reality
        consistently delivers stories that no screenwriter could dream up.
  Wired Differently:
    template:
      name: Genre - Trakt List
      list: wired-differently
      summary: >-
        Stories where different wiring makes life more interesting, not broken.
        When everyday experiences hit different and social scripts need constant
        rewrites, these titles showcase minds that bring something fresh just by
        being themselves. No fixing required.
    label: Hide
    item_label: Hide
  Christmas Episodes:
    template:
      name: 'Genre [Holiday] - Trakt List Episodes'
      list: tv-christmas-episodes
      summary: null
  Trick-or-Treat:
    template:
      name: 'Genre [Holiday] - Trakt List'
      list: tv-halloween
      summary: null
  Halloween Episodes:
    template:
      name: 'Genre [Holiday] - Trakt List Episodes'
      list: tv-halloween-episodes
  Turkey Time Episodes:
    template:
      name: 'Genre [Holiday] - Trakt List Episodes'
      list: tv-thanksgiving-episodes
